

/* Desktop View */
@media (min-width:376px) and (max-width:1024px) {

    .code_link {
        margin-left: 0;
    }

    .register_page {
        flex-wrap: wrap;
   
    }
.info {
    margin: 0 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
}


.heading {
    font-size: 3.3em;
    /* text-align: center; */
    padding-left: 20px;
}

.info p {
/* text-align: center; */
padding-left: 20px;
}


.form-heading, .form {
    /* width: 100px; */
    margin: 20px 5px;
}

}

/* Tablet View */


/* Mobile view */
@media (max-width:375px) {
    
    .code_link {
        margin-left: 0;
    }


    body {
        background-image: url(/images/bg-intro-mobile.png);
    }
    .register_page  {
         padding :15px 5px;
        flex-wrap: wrap;
    }

    .info {
        
        margin: 40px 0;
        padding: 10px 5px 10px 5px;
    }

    .form-heading, .form {
        /* width: 100px; */
        margin: 20px 5px;
    }

    .heading {
        font-size: 3.0em;
        text-align: center;
        padding-left: 0;
    }

.info p {
   text-align: center;
   padding-left: 0;
}

}