

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --margin: 10px;
    --padding: 10px;
            /* Color */
    --primary-color-red: hsl(0, 100%, 74%) ;
    --primary-color-green: hsl(154, 59%, 51%);
    --btn_hover: hsl(154, 45%, 62%);
    --accent: hsl(248, 32%, 49%);
     /* Neutral */
     --dark-blue: hsl(249, 10%, 26%);
     --grayish-blue:hsl(246, 25%, 77%);
     /* Typography */
     --font-size: 16px;
     /* Maring and padding */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    font-size: var(--font-size);
    background-color: var(--primary-color-red);
    background-image: url(images/bg-intro-mobile.png);
    color: #fff;
  
}


/* nav-bar */
header {
  
    margin: var(--margin);
  
}

.nav-bar {

    padding: var(--padding);
    margin: var(--margin);
    background-color: var(--accent) ;  
}

.code_link {
    text-decoration: none;

    padding: 5px;
    color: #fff;
    font-size: 1.2em;
}
.code_link:hover {
    transition: 0.3s;
    color:hsl(0, 57%, 83%); 
}

.container {
    /* width: 100%; */
    margin: var(--margin);
   
}

.register_page {
    padding:var(--padding);
    margin: var(--margin);
   
}

.info {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
  
}

.heading {
    font-size: 2.5em;
    margin-bottom: 30px;

 
}

.info p {
    line-height: 1.8em;
    margin-bottom: 30px;
    width: 90%;
}

/* Form Styling */



.inner_form_container {
    margin: var(--margin);
 }

.form-heading {
     padding: 15px;
     border-radius: 5px;
     background-color: var(--accent);

}

.form {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}


.register-grp {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px; 
    
}

input {
    padding: 15px;   
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--grayish-blue);
}

input:hover   {
    border: 1px solid  var(--accent);

}

input:active {
    border: 1px solid var(--primary-color-red)
}


.submit-btn {
    background-color: var(--primary-color-green);
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}
.submit-btn:hover {
  cursor: pointer;
  background: var(--btn_hover);
  transition: var(--transition);
}

.terms_condition {
    color: var(--grayish-blue);
    text-align: center;
    white-space: wrap;
    padding-bottom: 10px;
}
.terms_condition  a {
    color: var(--primary-color-red);
}


@media only screen and (min-width: 600px){

    body {
        background-image: url(images/bg-intro-desktop.png);
    }

.container {
   max-width: 1200px;
   margin: 0 auto;
    
}
 .register_page {
    display: flex;
    padding: var(--padding);
 }

 
.outer_form_container {
    width: 50%;
    padding: 15px;
}

.info {
    display:flex ;
    width: 50%;
    padding: var(--padding);
    text-align: left;
    align-items: center;
}

  .heading {
    font-size: 3.5em;

  }
}